.header {
    max-width: 1440px;
    padding: 21px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    background-color: #FFF8E7;
}

.logo {
    max-width: 60px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFF8E7;
    left: 0;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subitem:not(:last-child) {
    margin-bottom: 15px;
}

.sublink {
    font-size: 18px;
    font-weight: 600;
    color: inherit;
}

.item:not(:last-child) {
    margin-bottom: 40px;
}

.link {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2A2E32;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
}

.subnav {
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sublist {
    padding: 20px 0 0;
}

.menuBtn {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 22px;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menuIcon {
    height: 3px;
    width: 18px;
    background-color: #000;
    display: block;
}

.menuIcon::after,
.menuIcon::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 25px;
    background-color: #000;
    right: 0;
}

.menuIcon::after {
    top: 0;
}

.menuIcon::before {
    bottom: 0;
}


