.social-list-item {
    list-style-type: none;
}

.social-list-link {
    width: 37px;
    height: 37px;
    display: block;
    transition: opacity .3s ease-in-out;
    &:hover {
        opacity: .7;
    }
}

