@import "../../styles/mixins.scss";

.team {
  color: #2a2e32;

  .title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 48px;
  }

  .teamContainer {
    gap: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > div:nth-child(odd) {
      padding-left: 27px;
      width: 100%;
    }
    & > div:nth-child(even) {
      padding-right: 27px;
      width: 100%;
    }
  }

  @include media-breakpoint-desktop {
    .title {
      text-align: left;
      font-size: 46px;
      line-height: 62px;
      letter-spacing: 5%;
      margin-bottom: 60px;
    }

    .teamContainer {
      gap: 90px;

      & > div:nth-child(odd) {
        padding-left: 0;
        width: unset;
      }
      & > div:nth-child(even) {
        padding-right: 0;
        width: unset;
      }
    }
  }
}
