.team {
    color: #2A2E32;

    h2 {
        font-size: 30px;
        text-align: center;
    }

    .teamContainer {
        gap: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        & > div:nth-child(odd) {
            padding-left: 54px;
            width: 100%;
        } 
    }
}

@media only screen and (min-width: 1024px) {
    .team {
        h2 {
            text-align: left;
            font-size: 46px;
            line-height: 62px;
            letter-spacing: 5%;
        }

        .teamContainer {
            gap: 90px;
    
            & > div:nth-child(odd) {
                padding-left: 0;
                width: unset;
            }
        }
    }
    
}