@import '../../styles/mixins.scss';

.wrapper {
    margin-bottom: 60px;
    margin-top: 45px;
    @include media-breakpoint-desktop {
        margin-bottom: 60px;
        display: flex; 
        justify-content: space-between;
        margin-top: 95px;
    }
}

.form {
    @include media-breakpoint-desktop {
        margin-bottom: 60px;
        display: flex;
    }
}
.text{
    

    @include media-breakpoint-desktop {
        max-width: 100px;
    }
}